<div class="topcoat-list">
     <div class="topcoat-list scroller">
        <ul class="topcoat-list__container list" id="lstCategorias">
            {{#.}}
                <li class="topcoat-list__item">
                  <a href="#categoria/{{cid}}/{{nomcateg}}">
                    <p>{{nomcateg}}</p>
                    <img src="img/categorias/{{cimagen}}">   
                    <span class="chevron"></span>
                </a>
                </li>
            {{/.}}
         </ul>
    </div>
</div>