<div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="#">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Carta Restaurante Antonio</h1>
        </div>
</div>

<div class="topcoat-button-bar full conjunto">
    {{#.}}
       <div class="topcoat-button-bar__item">
         <a href='#categoria/{{cid}}/{{nomcateg}}'>
             <button class="topcoat-button-bar__button full" id="bcateg">
                 <p>{{nomcateg}}</p>
                 <img class="imgboton" src="img/categorias/{{cimagen}}">   
                 <span class="chevron"></span>
             </button>
         </a>
       </div>
    {{/.}}
</div>

