<div class="topcoat-navigation-bar">
     <div class="topcoat-navigation-bar__item left half-quarter">
        <a class="topcoat-icon-button--quiet back-button" href="#">
             <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center less-half">
        <h1 class="topcoat-navigation-bar__title" id="titcarta">Carta Restaurante Antonio</h1>
    </div>
    <div class="topcoat-navigation-bar__item center third idiomas">
        <img id="1" src="img/es.png"/>
        <img id="2" src="img/ukp.png"/>
        <img id="3" src="img/fr.png"/>
        <img id="4" src="img/it.png"/>
    </div>
    <div class="topcoat-navigation-bar__item center half-quarter">
        <img class="logo" src="img/logo2.png"/>
    </div>
</div>
<div class="scroller">
    <div class="conjunto">
        {{#.}}
         <a href='#categoria/{{cid}}/{{nomcateg}}'>
             <button class="topcoat-button--large--cta">
                <p><span>{{nomcateg}}</span> <span class="chevron"></span></p>
                <img class="imgboton" src="img/categorias/{{cimagen}}">   
             </button>
         </a>
        {{/.}}
    </div>
    <footer>
      <h3>Copyright @Restaurante Antonio 2015</h3>
    </footer>
</div>