<div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="#">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Carta Restaurante Antonio</h1>
        </div>
</div>

<div class="conjunto">
    {{#.}}
     <a href='#categoria/{{cid}}/{{nomcateg}}'>
         <button class="topcoat-button--large--cta" id="bcateg">
            <p>{{nomcateg}} <span class="chevron"></span></p>
             <img class="imgboton" src="img/categorias/{{cimagen}}">   
         </button>
     </a>
    {{/.}}
</div>
<footer>
 <h3>Copyright @Restaurante Antonio 2015</h3>
</footer>
