<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Carta de Restaurante Antonio</h1><img src="img/logo.png"/>
    </div>
</div>
<div>
   <img src="img/Pared.jpg"/>
</div>
<div class="topcoat-button-bar full">
   <div class="topcoat-button-bar__item">
     <a href="categorias/es"><button class="topcoat-button-bar__button full" id="es"><img src="img/Spain.png"/></button></a>
   </div>
   <div class="topcoat-button-bar__item">
     <a href="categorias/uk"><button class="topcoat-button-bar__button full" id="uk"><img src="img/UK.png"/></button></a>
   </div>
   <div class="topcoat-button-bar__item">
     <a href="categorias/fr"><button class="topcoat-button-bar__button full" id="fr"><img src="img/France.png"/></button></a>
   </div>
    <div class="topcoat-button-bar__item">
        <a href="categorias/it"><button class="topcoat-button-bar__button full" id="it"><img src="img/Italy.png"/></button></a>
   </div>
</div>
<footer>
 <h3>Copyright @Restaurante Antonio 2015</h3>
</footer>