<div class="topcoat-navigation-bar">
    <span><img src="img/logo2.png"/></span>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Carta de Restaurante Antonio</h1>
    </div>
    <div class="topcoat-navigation-bar__item center quarter">
        <img src="img/direccion.png"/>
    </div>
</div>
<div class="scroller">
    <div class="inicio">
       <img class="imginicio" src="img/Pared.jpg"/>
    </div>

    <div class="topcoat-button-bar full">
       <div class="topcoat-button-bar__item">
         <a href='#categorias/1'><button class="topcoat-button-bar__button full" id="es"><img src="img/Spain.png"/></button></a>
       </div>
       <div class="topcoat-button-bar__item">
         <a href='#categorias/2'><button class="topcoat-button-bar__button full" id="uk"><img src="img/UK.png"/></button></a>
       </div>
       <div class="topcoat-button-bar__item">
         <a href='#categorias/3'><button class="topcoat-button-bar__button full" id="fr"><img src="img/France.png"/></button></a>
       </div>
        <div class="topcoat-button-bar__item">
            <a href='#categorias/4'><button class="topcoat-button-bar__button full" id="it"><img src="img/Italy.png"/></button></a>
       </div>
    </div>

    <footer>
     <h3>Copyright @Restaurante Antonio 2015</h3>
    </footer>
</div>