<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Carta de Restaurante Antonio</h1>
    </div>
</div>
<div>
   Logotipo y foto
</div>
<div class="topcoat-button-bar">
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button">Español</button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button">Ingles</button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button">Frances</button>
   </div>
    <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button">Italiano</button>
   </div>
</div>
<div>
 Copyright @Restaurante Antonio 2015
</div>