<div class="topcoat-navigation-bar">
    <span><img src="img/logo2.png"/></span>
    <div class="topcoat-navigation-bar__item center two-thirds">
        <h1 class="topcoat-navigation-bar__title">Carta de Restaurante Antonio</h1>
    </div>
    <div class="topcoat-navigation-bar__item center">
        <img class="direccion" src="img/direccion.png"/>
    </div>
</div>
<div class="scroller">
    <div class="inicio">
       <img class="imginicio" src="img/Pared.jpg"/>
    </div>
    <div class="topcoat-button-bar full">
       <div class="topcoat-button-bar__item">
         <a href='#categorias/1'><button class="topcoat-button-bar__button full" id="es"><img class="flagG" src="img/Spain.png"/></button></a>
       </div>
       <div class="topcoat-button-bar__item">
         <a href='#categorias/2'><button class="topcoat-button-bar__button full" id="uk"><img class="flagG" src="img/UK.png"/></button></a>
       </div>
       <div class="topcoat-button-bar__item">
         <a href='#categorias/3'><button class="topcoat-button-bar__button full" id="fr"><img class="flagG" src="img/France.png"/></button></a>
       </div>
        <div class="topcoat-button-bar__item">
          <a href='#categorias/4'><button class="topcoat-button-bar__button full" id="it"><img class="flagG" src="img/Italy.png"/></button></a>
       </div>
    </div>

    <footer>
     <h3>Copyright @Restaurante Antonio 2016</h3>
     <h3 id="direcc" >Plaza San Pedro Nolasco, 5  --  Tf. 976 39 74 74</h3>
    </footer>
</div>