<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Carta de Restaurante Antonio</h1>
    </div>
</div>
<div>
   Logotipo y foto
</div>
<div class="topcoat-button-bar">
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button"><img src="img/Spain.png"/></button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button"><img src="img/UK.png"/></button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button"><img src="img/France.png"/></button>
   </div>
    <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button"><img src="img/Italy.png"/></button>
   </div>
</div>
<footer>
 <h3>Copyright @Restaurante Antonio 2015</h3>
</footer>