
{{#.}}
    <li class="topcoat-list__item">
      <a href="#futbolistas/{{id}}">
            <img src="img/categorias/{{imagen}}">
            <p>{{nombre}} {{precio}}</p>
            <span class="chevron"></span>
        </a>
      </li>
{{/.}}