 <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left half-quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center less-half">
            {{#.}}
            <h1 class="topcoat-navigation-bar__title">{{nomcateg}}</h1>
            {{/.}}
        </div>
       <div class="topcoat-navigation-bar__item center third idiomas">
        <img id="1" src="img/es.png" alt="Bebidas Terraza"/>
        <img id="2" src="img/ukp.png" alt="Terrace drinks"/>
        <img id="3" src="img/fr.png" alt="Boissons terrasse"/>
        <img id="4" src="img/it.png" alt="Bevande terraza"/>
    </div>
       <div class="topcoat-navigation-bar__item center half-quarter">
            <img class="logo" src="img/logo2.png"/>
        </div>
</div>
<div class="scroller">
    <div class="topcoat-list">
        <ul class="topcoat-list__container list" >
            {{#.}}
                <li class="topcoat-list__item">
                    <p><span class="nomplato">{{nomplato}}</span> <span class="precio">{{precio}} €</span></p>
              </li>
            {{/.}}
      </ul>
    </div>
    <footer>
     <h3>Copyright @Restaurante Antonio 2017</h3>
    </footer>
</div>