<div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet back-button" href="javascript:window.history.back();">
                <span class="topcoat-icon topcoat-icon--back"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center third">
            <h1 class="topcoat-navigation-bar__title">{{nommenu}}</h1>
        </div>
        <div class="topcoat-navigation-bar__item center quarter">
            <span class="precio2">{{precio}} €</span>
        </div>
        <div class="topcoat-navigation-bar__item center quarter">
            <img src="img/logo2.png"/>
        </div>
    </div>
<div>
 <div class="scroller">
    <div class="vermenu">
        <img src="img/menus/{{fotomenu}}" />
    </div>

    <footer>
     <h3>Copyright @Restaurante Antonio 2015</h3>
    </footer>
</div>